@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
    Убираем внутренние отступы слева тегам списков,
    у которых есть атрибут class
   */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
    Убираем внешние отступы body и двум другим тегам,
    у которых есть атрибут class
   */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
    Убираем внешние отступы вертикали нужным тегам,
    у которых есть атрибут class
   */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
    Убираем стандартный маркер маркированному списку,
    у которого есть атрибут class
   */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
    Обнуляем вертикальные внешние отступы параграфа,
    объявляем локальную переменную для внешнего отступа вниз,
    чтобы избежать взаимодействие с более сложным селектором
   */
p {
  --paragraphMarginBottom: 33px;
  margin-block: 0;
}

/**
    Внешний отступ вниз для параграфа без атрибута class,
    который расположен не последним среди своих соседних элементов
   */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
    Упрощаем работу с изображениями и видео
   */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
    Наследуем свойства шрифт для полей ввода
   */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
      Пригодится в большинстве ситуаций
      (когда, например, нужно будет "прижать" футер к низу сайта)
     */
  height: 100%;
  /**
      Убираем скачок интерфейса по горизонтали
      при появлении / исчезновении скроллбара
     */
  scrollbar-gutter: stable;
}

/**
    Плавный скролл
   */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
      Пригодится в большинстве ситуаций
      (когда, например, нужно будет "прижать" футер к низу сайта)
     */
  min-height: 100%;
  /**
      Унифицированный интерлиньяж
     */
  line-height: 1.5;
}

/**
    Нормализация высоты элемента ссылки при его инспектировании в DevTools
   */
a:where([class]) {
  display: inline-flex;
}

/**
    Курсор-рука при наведении на элемент
   */
button,
label {
  cursor: pointer;
}

/**
    Приводим к единому цвету svg-элементы
    (за исключением тех, у которых уже указан
    атрибут fill со значением 'none' или начинается с 'url')
   */
:where([fill]:not([fill=none], [fill^=url])) {
  fill: currentColor;
}

/**
    Приводим к единому цвету svg-элементы
    (за исключением тех, у которых уже указан
    атрибут stroke со значением 'none')
   */
:where([stroke]:not([stroke=none], [stroke^=url])) {
  stroke: currentColor;
}

/**
    Чиним баг задержки смены цвета при взаимодействии с svg-элементами
   */
svg * {
  transition-property: fill, stroke;
}

/**
    Приведение рамок таблиц в классический 'collapse' вид
   */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
    Удаляем все анимации и переходы для людей,
    которые предпочитают их не использовать
   */
@font-face {
  font-family: "DM Sans";
  src: url(../fonts/DMSans-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans";
  src: url(../fonts/DMSans-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-gray: #191919;
  --color-dark: #000000;
  --color-white: #ffffff;
  --color-blue: #118da8;
  --color-white-transparent: rgba(255, 255, 255, 0.7);
  --color-yellow: #fcff51;
  --border-radius: 12px;
  --border-radius-small: 6px;
  --border-radius-large: 32px;
  --font-family: "DM Sans", sans-serif;
  --container-width: 1300px;
  --container-padding-x: 30px;
  --section-padding-y: 100px;
  --input-height: 82px;
  --button-height: 51px;
  --transition-duration: 0.2s;
}
@media (max-width: 767px) {
  :root {
    --section-padding-y: 50px;
    --container-padding-x: 15px;
  }
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .visible-mobile {
    display: none !important;
  }
}

body {
  font-size: clamp(16px, 1.5277777778vw, 22px);
  font-family: var(--font-family);
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-white);
  background-color: var(--color-gray);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
}

h1,
.h1 {
  font-size: clamp(30px, 4.8611111111vw, 70px);
}

h2,
.h2 {
  font-size: clamp(20px, 4.4444444444vw, 64px);
}

h3,
.h3 {
  font-size: clamp(20px, 4.4444444444vw, 64px);
}

h4,
.h4 {
  font-size: clamp(18px, 1.3888888889vw, 20px);
}

.burger-button {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 44px;
  aspect-ratio: 1;
  position: relative;
}
.burger-button::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  width: 80%;
  height: 2px;
  background-color: var(--color-white);
  border-radius: 5px;
  box-shadow: 0 -10px white, 0 10px white;
}

.mobile-overlay {
  margin: 0;
  width: 100%;
  height: 100%;
  border: none;
  padding: 14px 20px;
  background-color: var(--color-gray);
  color: var(--color-light);
}
.mobile-overlay:modal {
  max-width: 100%;
  max-height: 100%;
}
.mobile-overlay__close-button-wrapper {
  display: flex;
  justify-content: end;
}
.mobile-overlay__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
  min-height: 80vh;
}
.mobile-overlay__link {
  font-size: 30px;
  font-weight: 600;
  line-height: 1.6;
}

.cross-button {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 44px;
  aspect-ratio: 1;
  position: relative;
  top: -4px;
  left: 10px;
}
.cross-button::before, .cross-button::after {
  content: "";
  position: absolute;
  top: 69%;
  left: 5px;
  width: 80%;
  height: 2px;
  background-color: var(--color-white);
  border-radius: 5px;
}
.cross-button::before {
  rotate: 45deg;
}
.cross-button::after {
  rotate: -45deg;
}

.header {
  padding-block: 43px;
}
@media (max-width: 767px) {
  .header {
    padding-block: 20px;
  }
}
.header__inner {
  display: flex;
  justify-content: space-between;
}
.header__menu-list {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 40px;
       column-gap: 40px;
  font-size: clamp(16px, 1.1805555556vw, 17px);
}
.header__menu-item:first-child {
  color: var(--color-blue);
}

.hero {
  display: flex;
  align-items: center;
  -moz-column-gap: 60px;
       column-gap: 60px;
  padding-top: 40px;
}
@media (max-width: 767px) {
  .hero {
    flex-direction: column;
    row-gap: 20px;
  }
}
@media (max-width: 1023px) {
  .hero {
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
.hero__wrapper {
  display: flex;
  flex-direction: column;
}
.hero__title {
  line-height: 1.25;
  padding-bottom: 90px;
  letter-spacing: 3.2px;
  font-size: clamp(30px, 4.8611111111vw, 70px);
}
.hero__title-next {
  font-weight: 400;
  line-height: 1.17;
  font-size: 75px;
  font-size: clamp(35px, 5.2083333333vw, 75px);
  position: relative;
}
.hero__title-next::after {
  content: "";
  position: absolute;
  bottom: -11px;
  left: -3px;
  width: 100%;
  height: 11px;
  background-image: url("../../images/bottom-border.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.hero__title-level {
  font-weight: 700;
  font-size: 80px;
  line-height: 1.1;
  font-size: clamp(40px, 5.5555555556vw, 80px);
}
@media (max-width: 767px) {
  .hero__title {
    padding-bottom: 45px;
    text-align: center;
  }
}
.hero__listen {
  font-size: clamp(15px, 1.0416666667vw, 15px);
  margin-bottom: 16px;
}
.hero__list {
  display: flex;
  -moz-column-gap: 17px;
       column-gap: 17px;
}
@media (max-width: 767px) {
  .hero__list {
    justify-content: space-between;
  }
}
@media (hover: hover) {
  .hero__item-link:hover {
    scale: 1.5;
  }
}
@media (hover: none) {
  .hero__item-link:active {
    scale: 1.5;
  }
}
.hero__image-wrapper {
  position: relative;
}
@media (max-width: 1280px) {
  .hero__image-wrapper {
    max-width: 50%;
  }
}
@media (max-width: 767px) {
  .hero__image-wrapper {
    max-width: 100%;
  }
}
.hero__image-wrapper::after {
  content: "";
  position: absolute;
  top: -26px;
  left: -25px;
  width: 68px;
  height: 74px;
  background-image: url("../../images/arrows.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
@media (max-width: 1023px) {
  .hero__image-wrapper::after {
    top: -21px;
    left: -20px;
    width: 54px;
  }
}
@media (max-width: 767px) {
  .hero__image-wrapper::after {
    top: -12px;
    left: -11px;
    width: 30px;
  }
}

.episode {
  padding-top: 100px;
  padding-bottom: 160px;
  display: flex;
  flex-direction: column;
  row-gap: 65px;
}
@media (max-width: 767px) {
  .episode {
    row-gap: 30px;
    padding-top: 50px;
    padding-bottom: 80px;
  }
}
.episode__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.episode__header-title {
  letter-spacing: 2.88px;
  font-size: clamp(20px, 4.4444444444vw, 64px);
}
.episode__header-button {
  padding: 0;
  background-color: transparent;
  border: none;
  color: var(--color-white);
  padding-left: 20px;
  padding-right: 15px;
  height: var(--button-height);
  border-radius: var(--border-radius-small);
  background-color: var(--color-blue);
  font-size: clamp(9px, 1.1805555556vw, 17px);
  padding-block: 12px;
  align-self: flex-end;
}
@media (max-width: 767px) {
  .episode__header-button {
    padding-inline: 5px;
    height: 50%;
  }
}
.episode__list {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
}
@media (max-width: 767px) {
  .episode__list {
    row-gap: 40px;
  }
}
.episode__item:nth-child(2) .episodes__inner-name {
  width: auto;
  max-width: 138px;
}

.episodes {
  background-color: var(--color-dark);
  padding: 40px;
  border-radius: var(--border-radius-large);
  display: flex;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
@media (max-width: 767px) {
  .episodes {
    flex-direction: column;
    row-gap: 20px;
    padding: 15px;
  }
}
@media (max-width: 1023px) {
  .episodes__image {
    max-width: 50%;
  }
}
@media (max-width: 767px) {
  .episodes__image {
    max-width: 680px;
    width: 100%;
    border-radius: var(--border-radius-large);
  }
}
.episodes__inner {
  display: flex;
  flex-direction: column;
}
.episodes__inner-name {
  font-size: clamp(16px, 1.25vw, 18px);
  padding-inline: 16px;
  background-color: var(--color-gray);
  width: auto;
  max-width: 73px;
  border-radius: var(--border-radius-small);
  margin-bottom: 48px;
}
@media (max-width: 1023px) {
  .episodes__inner-name {
    margin-bottom: 24px;
  }
}
.episodes__inner-number {
  color: var(--color-blue);
  font-size: clamp(16px, 1.1805555556vw, 17px);
  margin-bottom: 18px;
}
.episodes__inner-title {
  letter-spacing: 2.56px;
  margin-bottom: 28px;
  line-height: 1;
}
@media (max-width: 1023px) {
  .episodes__inner-title {
    margin-bottom: 14px;
  }
}
.episodes__inner-description {
  font-size: clamp(16px, 1.5277777778vw, 22px);
  color: var(--color-white-transparent);
}
@media (max-width: 1023px) {
  .episodes__inner-description {
    padding-bottom: 5px;
  }
}
@media (max-width: 767px) {
  .episodes__inner-description {
    margin-bottom: 18px;
    font-size: clamp(14px, 1.5277777778vw, 22px);
  }
}
.episodes__inner-button {
  padding: 0;
  background-color: transparent;
  border: none;
  color: var(--color-white);
  padding-left: 20px;
  padding-right: 15px;
  height: var(--button-height);
  border-radius: var(--border-radius);
  background-color: var(--color-blue);
  font-size: clamp(16px, 1.1805555556vw, 17px);
  padding-block: 12px;
  margin-top: auto;
  max-width: 208px;
}
@media (max-width: 767px) {
  .episodes__inner-button {
    max-width: 100%;
  }
}

.info {
  display: flex;
  -moz-column-gap: 60px;
       column-gap: 60px;
  justify-content: space-between;
  padding-bottom: 100px;
}
@media (max-width: 1023px) {
  .info {
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
@media (max-width: 767px) {
  .info {
    flex-direction: column;
    padding-bottom: 50px;
  }
}
.info__inner {
  max-width: 590px;
  display: flex;
  flex-direction: column;
  margin-block: auto;
}
@media (max-width: 767px) {
  .info__inner {
    max-width: 100%;
  }
}
.info__inner-link {
  padding: 22px;
  border-radius: 50%;
  background-color: var(--color-blue);
  width: auto;
  height: auto;
  max-width: 123px;
  margin-bottom: 20px;
}
@media (max-width: 1023px) {
  .info__inner-link {
    max-width: 94px;
  }
}
@media (max-width: 767px) {
  .info__inner-link {
    order: 1;
    margin-inline: auto;
    margin-top: 20px;
    rotate: 90deg;
  }
}
@media (max-width: 480px) {
  .info__inner-link {
    max-width: 74px;
  }
}
@media (max-width: 1023px) {
  .info__inner-link svg {
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 480px) {
  .info__inner-link svg {
    width: 30px;
    height: 30px;
  }
}
.info__inner-text {
  color: var(--color-blue);
  font-size: clamp(16px, 1.25vw, 18px);
}
.info__inner-title {
  letter-spacing: 2.88px;
  margin-bottom: 28px;
}
@media (max-width: 767px) {
  .info__inner-title {
    margin-bottom: 14px;
  }
}
.info__inner-description {
  color: var(--color-white-transparent);
}
@media (max-width: 767px) {
  .info__inner-description p:first-child {
    margin-bottom: 20px;
  }
}
@media (max-width: 1280px) {
  .info__image {
    max-width: 50%;
  }
}
@media (max-width: 767px) {
  .info__image {
    max-width: 100%;
    margin-inline: auto;
  }
}

.subscribe {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 20px;
       column-gap: 20px;
  padding: 60px 60px 75px 60px;
  background-color: var(--color-dark);
  border-radius: var(--border-radius-large);
  position: relative;
}
@media (max-width: 1023px) {
  .subscribe {
    padding: 40px 40px 55px 40px;
  }
}
@media (max-width: 767px) {
  .subscribe {
    flex-direction: column;
    row-gap: 20px;
    padding: 30px 30px 45px 30px;
  }
}
.subscribe::after {
  content: "";
  position: absolute;
  bottom: -31px;
  left: -28px;
  width: 147px;
  height: 91px;
  background-image: url(../../images/arrows-bottom-left.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
@media (max-width: 767px) {
  .subscribe::after {
    bottom: -14px;
    left: -13px;
    width: 74px;
    height: 45px;
  }
}
.subscribe-body {
  padding-block: 100px;
}
@media (max-width: 767px) {
  .subscribe-body {
    padding-block: 50px;
  }
}
.subscribe__inner {
  max-width: 50%;
}
@media (max-width: 767px) {
  .subscribe__inner {
    max-width: 100%;
  }
}
.subscribe__inner-description {
  color: var(--color-blue);
  font-size: clamp(16px, 1.25vw, 18px);
}
.subscribe__inner-title {
  font-size: clamp(28px, 5vw, 72px);
  letter-spacing: 2.88px;
  line-height: 1.1;
}
.subscribe__form {
  max-width: 522px;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
@media (max-width: 1280px) {
  .subscribe__form {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .subscribe__form {
    max-width: 675px;
    width: 100%;
  }
}
.subscribe__form-input {
  height: var(--input-height);
  flex-grow: 1;
  border: none;
  background-color: var(--color-gray);
  border-radius: var(--border-radius);
  padding-inline: 19px;
  color: var(--color-white);
}
.subscribe__form-input::-moz-placeholder {
  color: var(--color-white-transparent);
}
.subscribe__form-input::placeholder {
  color: var(--color-white-transparent);
}
@media (max-width: 767px) {
  .subscribe__form-input {
    height: 60px;
  }
}
.subscribe__form-button {
  padding: 0;
  background-color: transparent;
  border: none;
  height: 48px;
  max-width: 87px;
  background-color: var(--color-blue);
  color: var(--color-white);
  border-radius: var(--border-radius-small);
  font-size: 15px;
}
@media (max-width: 767px) {
  .subscribe__form-button {
    max-width: 100%;
  }
}

.grid {
  --gridColumns: 1;
  display: grid;
  grid-template-columns: repeat(var(--gridColumns), 1fr);
  gap: 16px;
}
@media (max-width: 767px) {
  .grid {
    gap: 10px;
  }
}
.grid--2 {
  --gridColumns: 2;
}
.grid--3 {
  --gridColumns: 3;
}
.grid--4 {
  --gridColumns: 4;
}
.grid--5 {
  --gridColumns: 5;
}
.grid--6 {
  --gridColumns: 6;
}
.grid--7 {
  --gridColumns: 7;
}
.grid--8 {
  --gridColumns: 8;
}
.grid--9 {
  --gridColumns: 9;
}
.grid--10 {
  --gridColumns: 10;
}
.grid--11 {
  --gridColumns: 11;
}
.grid--12 {
  --gridColumns: 12;
}
@media (max-width: 1023px) {
  .grid--2 {
    --gridColumns: 1;
  }
}
@media (max-width: 1280px) {
  .grid--3 {
    --gridColumns: 2;
  }
}
@media (max-width: 767px) {
  .grid--3 {
    --gridColumns: 1;
  }
}

.reviews {
  padding-block: 100px;
}
@media (max-width: 767px) {
  .reviews {
    padding-block: 50px;
  }
}
.reviews__item {
  background-color: var(--color-dark);
  border-radius: var(--border-radius-large);
  padding-top: 55px;
  padding-inline: 50px;
  padding-bottom: 50px;
}
@media (max-width: 767px) {
  .reviews__item {
    padding-top: 35px;
    padding-inline: 30px;
    padding-bottom: 30px;
  }
}
.reviews__item-stars {
  color: var(--color-yellow);
  display: flex;
  -moz-column-gap: 5px;
       column-gap: 5px;
  margin-bottom: 20px;
}
.reviews__item-description {
  margin-bottom: 19px;
  font-size: clamp(28px, 2.5vw, 36px);
  line-height: 1.2;
}
.reviews__item-name {
  font-size: clamp(16px, 1.6666666667vw, 24px);
  color: var(--color-white-transparent);
  line-height: 1.16;
}

.star {
  display: flex;
  justify-content: center;
  align-items: center;
}
.star--empty {
  color: var(--color-white-transparent);
}

.footer {
  padding-block: 100px;
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 200px;
       column-gap: 200px;
  max-width: 1300px;
}
@media (max-width: 1280px) {
  .footer {
    -moz-column-gap: 117px;
         column-gap: 117px;
    justify-content: flex-start;
  }
}
@media (max-width: 1023px) {
  .footer {
    -moz-column-gap: 35px;
         column-gap: 35px;
  }
}
@media (max-width: 767px) {
  .footer {
    padding-block: 50px;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
  }
}
.footer__inner {
  display: flex;
  flex-direction: column;
}
.footer__inner-link {
  margin-bottom: 20px;
}
.footer__inner-link-logo {
  min-width: 224px;
}
.footer__inner-soc1als .soc1als__inner-list {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
@media (max-width: 767px) {
  .footer__inner-soc1als .soc1als__inner-list {
    align-items: center;
    justify-content: space-between;
    max-width: 94px;
    margin-inline: auto;
  }
}
.footer__inner-soc1als .soc1als__inner-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (hover: hover) {
  .footer__inner-soc1als .soc1als__inner-item:hover {
    opacity: 0.7;
    color: var(--color-blue);
  }
}
@media (hover: none) {
  .footer__inner-soc1als .soc1als__inner-item:active {
    opacity: 0.7;
    color: var(--color-blue);
  }
}
.footer__pages {
  font-size: clamp(16px, 1.1805555556vw, 17px);
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
@media (max-width: 767px) {
  .footer__pages {
    flex-direction: row;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
@media (hover: hover) {
  .footer__page:hover {
    opacity: 0.9;
    color: var(--color-blue);
  }
}
@media (hover: none) {
  .footer__page:active {
    opacity: 0.9;
    color: var(--color-blue);
  }
}
.footer__list {
  font-size: clamp(16px, 1.1805555556vw, 17px);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 10px;
}
@media (max-width: 767px) {
  .footer__list {
    flex-direction: row;
    -moz-column-gap: 20px;
         column-gap: 20px;
    justify-content: center;
  }
}
@media (hover: hover) {
  .footer__item:hover {
    opacity: 0.9;
    color: var(--color-blue);
  }
}
@media (hover: none) {
  .footer__item:active {
    opacity: 0.9;
    color: var(--color-blue);
  }
}
.footer__musics {
  display: flex;
  -moz-column-gap: 17px;
       column-gap: 17px;
}
.footer__music {
  width: 32px;
  aspect-ratio: 1;
}
@media (hover: hover) {
  .footer__music-link:hover {
    scale: 1.5;
  }
}
@media (hover: none) {
  .footer__music-link:active {
    scale: 1.5;
  }
}

.scroll {
  position: fixed;
  right: 5%;
  bottom: 5%;
  width: 50px;
  height: 50px;
  background-color: var(--color-blue);
  border-radius: 50%;
  border: none;
}
@media (hover: hover) {
  .scroll:hover {
    border: 1px solid white;
  }
}
@media (hover: none) {
  .scroll:active {
    border: 1px solid white;
  }
}
.scroll::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(50%, -50%);
  rotate: -90deg;
  width: 30px;
  height: 30px;
  background-image: url(../../images/arrow-right.svg);
  background-size: contain;
  background-repeat: no-repeat;
}/*# sourceMappingURL=styles.css.map */
